API_GATEWAY_PORT=4000
AGENT_GATEWAY_PORT=4001
AUTH_REGISTRY_PORT=4002
MARKET_SERVICE_PORT=4003
PORTFOLIO_SERVICE_PORT=4004
PROPOSAL_PIPELINE_PORT=4005
RESOLUTION_SERVICE_PORT=4006
MATCHING_ENGINE_PORT=7400
MARKET_CREATOR_SIGNAL_FEED_URLS=
MARKET_CREATOR_INTERVAL_MS=15000
MARKET_SERVICE_URL=http://localhost:4003
PROPOSAL_PIPELINE_URL=http://localhost:4005
